/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

/*
     FILE ARCHIVED ON 02:39:05 Apr 24, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:11:15 May 15, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 88.236 (3)
  CDXLines.iter: 13.322 (3)
  PetaboxLoader3.datanode: 428.857 (4)
  esindex: 0.011
  PetaboxLoader3.resolve: 129.206
  exclusion.robots: 0.139
  load_resource: 476.724
  captures_list: 307.422
  RedisCDXSource: 201.55
  exclusion.robots.policy: 0.128
*/